.containerSlipknot{
  max-width: 1440px;
  margin: 0 auto;
  h3{
    text-align: center;
    color: #b69944;
    margin-top: 5px;
  }
  .row{
    .historia,
    .discografia{
      color: #eee;
      text-align: center;
      background-color: #222831;
      margin: 5px 0 0 0 ;
      padding: 0 5px;
      border-radius: 15px;
    }
  }
  .col-sm-12{
    p{
      color: #eee;
      text-align: center;
      background-color: #222831;
      padding: 0 5px;
      margin: 0 5px;
      border-radius: 15px;
    }
    img{
      width: 100%;
      border-radius: 15px;
    }
  }
  .container{
    max-width: 1440px;
  }
}